//
// Google font - IBM Plex Sans
// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'NotoSans RG';
    src: url('@/assets/fonts/NotoSans-Regular.eot');
    src: url('@/assets/fonts/NotoSans-Regular.otf') format('truetype'), url('@/assets/fonts/NotoSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'NotoSans MD';
    src: url('@/assets/fonts/NotoSans-Medium.eot');
    src: url('@/assets/fonts/NotoSans-Medium.otf') format('truetype'), url('@/assets/fonts/NotoSans-Medium.woff') format('woff');
}

@font-face {
    font-family: 'NotoSans BD';
    src: url('@/assets/fonts/NotoSans-Bold.eot');
    src: url('@/assets/fonts/NotoSans-Bold.otf') format('truetype'), url('@/assets/fonts/NotoSans-Bold.woff') format('woff');
}

body {
    font-family: 'NotoSans RG' !important;
}
