$black: #444444;
$white: #FFFFFF;
$blue: #00A1F1;
$orange: #FF6600;
$yellow: #FFB904;
$red: #ED223F;
$GRAY: #D2D2D2;
$BLUE2: #0AA4FF;


.font_red {
  color: $red !important;
}

.font_black {
  color: $black !important;
}

.font_gray {
  color: #4B5563;
}

.font_white_gray {
  color: #999999;
}

.font-0000008F {
  color: #0000008F;
}

.font-74CEBE {
  color: #74CEBE;
}
.font-6DAE43 {
  color: #6DAE43;
}
.font-1C4EFE {
  color: #1C4EFE;
}
.font-B91C1C{
  color: #B91C1C;
}